.tableContainer {
  height: 80%;
}
.ant-table {
  width: 600px;
}
.buttonContainer {
  display: flex;
  flex-direction: column;
}
.upper {
  display: flex;
  justify-content: flex-end;
}
.lower {
  justify-content: flex-end;
  display: flex;
}
